/var/log/postgresql/*.log {
    daily
    rotate 10
    copytruncate
    compress
    notifempty
    missingok
    create 0664 {{ postgresql.user }} {{ postgresql.group }}
    postrotate
        /etc/init.d/postgresql reload
}
